.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section {
  margin-top: 30px;
}

/* Shared styles */
.display-flex {
  display: flex;
}

/* Navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
}

.links {
  gap: 48px;
}
.home a,
.cart a {
  color: black;
}

.shop a,
.about a {
  color: rgba(137, 135, 161, 1);
}

/* banner section */

.banner {
  margin-top: 120px;
  align-items: flex-end;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.orange {
  color: rgba(233, 90, 8, 1);
}

.banner-details {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

/* our plants section */
.our-plants {
  margin-top: 120px;
  text-align: center;
}

.section-title {
  font-size: 3.1rem;
  font-weight: 700;
}

.section-details {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

/* card section */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.card {
  width: 270px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.flower-title {
  font-size: 18px;
  font-weight: 500;
  color: #111;
  margin: 15px 0 5px;
}

.price {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #f4511e;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: white;
  color: black;
}

/* plant-lover section */
.plant-lover {
  margin-top: 210px;
  align-items: center;
}
.badge {
  margin-top: -550px;
  margin-left: -150px;
}
.trusted-badge {
  animation: spin 6s linear infinite;
  transform-origin: center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lover-title {
  font-size: 3.1rem;
  font-weight: 700;
}

.lover-details {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Latest deal section */
.deal {
  margin-top: 130px;
  text-align: center;
}

.deal-title {
  font-size: 3.1rem;
}
.deal-details {
  font-family: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}

.deal-card-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 40px;
}

.small-cards-column {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.card-bloom,
.card-ana,
.card-zabo {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  padding: 20px;
  place-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.card-bloom,
.card-ana {
  height: 220px;
}

.card-zabo {
  height: 500px;
}
.card-bloom {
  background-image: url(../images/deal-bloom.png);
}

.card-ana {
  background-image: url(../images/deal-ana.png);
}

.card-zabo {
  background-image: url(../images/deal-zabo.png);
}
.card-bloom::before,
.card-ana::before,
.card-zabo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  border-radius: inherit;
}
.card-title,
.shop-now {
  position: relative;
  z-index: 1;
  margin: 0;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 8px;
}
.title-zabo {
  margin-top: 220px;
}

.shop-now {
  text-decoration: underline;
  font-weight: 600;
  color: #fff;
  font-size: 0.9rem;
}

/* joinus section */
.joinus {
  background-image: url(../images/news-letter-bg.png);
  background-repeat: no-repeat;
  width: 1440px;
  margin: 0 auto;
  height: 530px;
  text-align: center;
  position: relative;
  margin-top: 80px;
}

.joinus-content {
  position: absolute;
  margin-top: 250px;
  margin-left: 400px;
}

.join-title {
  font-size: 3.1rem;
  color: white;
}

.form input {
  padding: 10px 200px;
  border: none;
  border-radius: 10px;
}
.btn-subscribe {
  padding: 10px 20px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-subscribe:hover {
  background-color: white;
  color: black;
}
/* footer section */
.footer {
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.brand-details {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
.footer-links ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.footer-links li {
  list-style: none;
}
.footer-links li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.footer-icon {
  gap: 25px;
  align-items: baseline;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .home a,
  .shop a,
  .about a,
  .badge {
    display: none;
  }
  .navbar {
    margin: 0 16px;
    justify-content: space-between;
  }

  .banner,
  .plant-lover,
  .footer {
    flex-direction: column;
  }
  .banner-content {
    margin: 28px 16px 0 16px;
  }
  .banner-title {
    font-size: 2.8rem;
  }
  .banner-image {
    order: -1;
  }
  .section-details {
    margin: 0 16px 50px;
    align-items: center;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10px;
    gap: 10px;
  }
  .plant-lover {
    margin: 50px 20px 18px;
  }
  .plant-lover-details {
    margin: 0 20px;
  }
  .deal-card-container {
    grid-template-columns: 1fr;
  }
  .card-zabo {
    height: 200px;
  }
  .title-zabo {
    margin-top: 80px;
  }
  .deal-details {
    margin: 0 10px;
  }
  .joinus {
    width: 576px;
  }
  .join-title {
    font-size: 1.5rem;
  }
  .joinus-content {
    margin-left: 150px;
  }
  .form input {
    padding: 10px;
  }
  .footer {
    margin-left: 20px;
  }
  .footer-links ul {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
